.Dashboard {
    background: rgb(234, 244, 253);
    width: 100%;
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 30px;
    justify-content: space-between;
}

.userName {
    margin-top: 10px;
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.flexBreak {
    flex-basis: 100%;
    height: 0;
}

.chartCard {
    text-align: center;
    margin-top: 30px;
    flex-basis: 43%;
}

.headerTitle {
    font-size: 24px;
    font-weight: bolder;
    color: white;
    margin-left: 10%;
}

.dashboardCards {
    text-align: center;
    flex-basis: 22%;
    min-width: 97px;
    background-color: lightsteelblue;
}

.Dashboard-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Dashboard-logo {
        animation: App-logo-float infinite 3s ease-in-out;
    }
}

.Dashboard-link {
    color: rgb(112, 76, 182);
}

.DashboardBox {
    top: 20%;
    padding: 3% 3% 1%;
    -webkit-box-shadow: 0px 0px 25px -2px #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 25px -2px #000000;
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}